extends mainlayout

block append styles
	link(href=process.env.APP_BASE_URL+'/stylesheets/style.css' rel='stylesheet')

block content
	.mdl-grid.splash-grid
		.mdl-cell.mdl-cell--3-col.mdl-cell--1-col-tablet
		.mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet
			form(action=process.env.APP_BASE_URL+'/auth/'+loginAction method="POST")
				.loginpage-selectbooth-overflow.demo-card-wide.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text Login Booth
					.loginpage-selectbooth-overflow.mdl-card__supporting-text
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input.mdl-textfield__input(type="text" id="authUsername")
							label.mdl-textfield__label(for="authUsername") Username...
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input.mdl-textfield__input(type="password" id="authPassword")
							label.mdl-textfield__label(for="authPassword") Password...
						#demo-menu-lower-left.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input.mdl-textfield__input(type="text" id="authBooth" value="Choose Booth" readonly)
							label.mdl-textfield__label(for="authBooth") Choose Booth
						ul.mdl-menu.mdl-menu--top-left.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-left")
							li.mdl-menu__item Some Action
							li.mdl-menu__item.mdl-menu__item--full-bleed-divider Another Action
							li.mdl-menu__item(disabled="") Disabled Action
							li.mdl-menu__item Yet Another Action
					.mdl-card__actions.mdl-card--border
						input.mdl-button.mdl-button--colored.mdl-button--align-right.mdl-js-button.mdl-js-ripple-effect(type="submit" value="Login")

		.mdl-cell.mdl-cell--3-col.mdl-cell--1-col-tablet
