extends mainlayout

block append styles
	link(href=process.env.APP_BASE_URL+'/stylesheets/style.css' rel='stylesheet')

block content
	.mdl-grid.splash-grid
		.mdl-cell.mdl-cell--4-col
			.demo-card-wide.mdl-card.mdl-shadow--2dp
				.mdl-card__title
					h2.mdl-card__title-text Booth CS
				.mdl-card__supporting-text
					h1.mdl-card__title-text CS - 001
				.mdl-card__actions.mdl-card--border
					h2.mdl-card__title-text Booth - 3
		.mdl-cell.mdl-cell--4-col
			.demo-card-wide.mdl-card.mdl-shadow--2dp
				.mdl-card__title
					h2.mdl-card__title-text Booth CS
				.mdl-card__supporting-text
					h1.mdl-card__title-text CS - 001
				.mdl-card__actions.mdl-card--border
					h2.mdl-card__title-text Booth - 3
		.mdl-cell.mdl-cell--4-col
			.demo-card-wide.mdl-card.mdl-shadow--2dp
				.mdl-card__title
					h2.mdl-card__title-text Booth CS
				.mdl-card__supporting-text
					h1.mdl-card__title-text CS - 001
				.mdl-card__actions.mdl-card--border
					h2.mdl-card__title-text Booth - 3

