.mdl-layout__header-row {
	background: #D32F2F;
}

.splash-grid {
	max-width: 960px;
}

.mdl-textfield {
	width: 100%;
}
.mdl-list__item.mdl-list__item--three-line a{
	height: 100%;
	width: 100%;
}

.loginpage-selectbooth-overflow {
	overflow: visible;
}

.demo-card-wide.mdl-card {
	width: 100%;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	/*height: 176px;*/
	background: #D32F2F;
}
.demo-card-wide > .mdl-card__menu {
	color: #fff;
}